@import 'tailwindcss';
@import './variables.css';
@import './tailwind-theme.css';

body {
  background: var(--background-default);
  color: var(--text-primary);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
